@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #dff1e8;
}

/* START NAVBAR AREA */
nav {
    background: #31b573;
    color: #fff;
    padding: 0 80px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav-area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.logo img {
    cursor: pointer;
    width: 100px;
}
.active {
    border-bottom: 3px solid #fff;
}
/* END NAVBAR AREA */

.poster-img img{
    width: 250px;
}

a {
    cursor: pointer;
    color: #31b573;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* SVG */
.container a {
    text-decoration: none;
}
.container button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container img {
    margin-right: 10px;
}

.box {
    display: block;
    background: #fff;
    width: 550px;
    padding: 30px;
    border-radius: 20px;
}

.btn {
    background: #31b573;
    color: #ffffff;
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    outline: none;
}
.btn a {
    color: #fff;
    text-decoration: none;
}
.btn a:hover {
    text-decoration: none;
}
.btn:hover {
    background: #349c68;
}

footer {
    margin-top: 50px;
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px 30px;
}
footer a {
    color: #288f5b;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}
footer a:hover {
    text-decoration: underline;
}

/* Responsive */
@media only screen and (max-width: 630px) {
    .poster-img img {
        width: 200px;
    }
    .box {
        width: 400px;
    }
}
@media only screen and (max-width: 430px) {
    .poster-img img {
        width: 150px;
    }
    .box {
        width: 300px;
    }
    .btn {
        font-size: 15px;
    }
}
